.p-inputgroup {
    padding: 5px 0;
}

.text-no-data {
    background-color: #fff !important;
    text-align: center !important;
}

label {
    &:after{
        content: '*';
        color: rgb(168, 11, 11);
        margin-left: 3px;
    }
}
